.metadata/
Kizelewicz01/
New Microsoft Word Document.docx
kizelewicz_PA2/
kizelewicz_rebecca_PA2/
ufggvg/
./
../
.git/
.metadata/
kizelewicz_p2/
kizelewicz_PA2/
kizelewicz_rebecca_PA2/
kizelewicz01/
kizelewicz_p1/

